button {
    background-color: #EAEAEA;
    border: none;
    
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    
    margin-left: 80px;

    width: 12%;
    height: 60px;
}

a{
    text-decoration: none;
    color: Black;
}

#Vlag {
    position: relative;
    display: inline-block;
}

#d-or-l-indicator{
    position: relative;
    display: inline-block;
}