body {background-color: #CFCCC9;
    margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}
#Titel {float: left;}

  li a {
  margin-left: 15px; 
  font-size: 50px;
  font-family: 'IBM Plex Sans', sans-serif;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  }

#taalindicatorimg{
  position: absolute;
  float: right;

  margin-right: 0%;
  margin-top: 1%;
}

#taalindicatortext {
  position: relative;
  float: right;

  font-size: 15px;
  font-family: 'IBM Plex Sans', sans-serif;

  margin-top: 3%;
  margin-right: 1%;
}

#moon{
  float:right;
  position: absolute;

  margin-right: 3%;
  margin-top: 1%;
}