/* pc styling begin */
body {
  background-color: #2D2B2B;
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3E3B3B;
}

.C-MP_text1{
  margin-left: 25%;  
  font-size: 20px;
}
.Titel {float: left;}

  li a {
  margin-left: 15px; 
  font-size: 50px;
  font-family: 'IBM Plex Sans', sans-serif;
  display: block;
  color: #EEEEEE;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  }

.Vlag{
  float: right;

  margin-right: -2.2%;
  margin-top: 0.45%;
}
button {
  background-color: #3E3B3B;
  border: none;

  font-size: 32px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;

  margin-left: 80px;

  width: 190px;
  height: 60px;
}

.taalindicatortext {
  float: right;
  color: #EEEEEE;
  font-size: 15px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 3.2%;
  margin-right: 2%;
}

.d-or-l-indicator{
  float:right;

  margin-right: 4%;
  margin-top: 0.32%;
}
.dagen{
  margin-top: -27.5%;
}
/* arrows used to navigate the days*/
.arrow_right_white {
  float: right;
  margin-right: 2.5%;
  margin-top: 1%;
}

.arrow_left_white {
  float: left;
  margin-left: 2.5%;
  margin-top: 1%;
}
/* color change for the links to google maps*/
.container1 a{
text-decoration: none;
color: rgba(93, 188, 252, 0.795);
text-decoration-line: underline;
}
/* text off the days*/

.container1{
  margin-top: 7.5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #c3c3c3;
  text-decoration: none;
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.dagen a {
  text-decoration: none;
  color: #C3C3C3;
}


/* begin hover*/

button:hover {
  opacity: 0.5;
}

.arrow_left_white:hover {
  opacity: 0.5;
}

.arrow_right_white:hover {
  opacity: 0.5;
}

.Titel:hover {
  opacity: 0.5;
}

.d-or-l-indicator:hover {
  opacity: 0.5;
}

.Vlag:hover {
  opacity: 0.5;
}

/* end hover */
/* pc styling end */

/* Mobile styling begin */
@media only screen and (max-width: 500px){
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, div, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, div { display: block; }
 
  .pc{
    visibility: hidden;
  }
  body, html{
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .navigationbar{
    visibility: visible;
  } 
  .taalindicatortext{
    visibility: hidden;
  }  
  li a {
    margin-left: 15px; 
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px; 
    text-decoration: none;
    }

  .Vlag {
    margin-top: 2%;
  }

  .d-or-l-indicator{
    margin-top: 2%;
  }

  
  .MP_text1 {
    visibility: visible;
    margin: 0;
    padding: 2%;
    float: left;
    margin-top: -30%;
    width: 100%;
}

  .C-MP_text1{
    margin-left: 0;  
    font-size: 20px;

    margin-top: -15%;
    max-width: 99%; 
    padding: 2%;  
    
}

.container1{
  font-size: 20px;
}
  .visible {
    visibility: visible;
}
  .dagen{
    margin-top: 15%;
    margin-left: 15%;
  }
  .holidayin{
    visibility: hidden;
  }
  .brooklynbridge{
    visibility: hidden;
  }
  
  .redford{
    visibility: hidden;
  }
  .chinatown{
    visibility: hidden;
  }
}
/* Mobile styling end */  