body {background-color: #CFCCC9;
    margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}
.Titel {float: left;}

  li a {
  margin-left: 15px; 
  font-size: 50px;
  font-family: 'IBM Plex Sans', sans-serif;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  }

.Vlag{
  float: right;

  margin-right: -2.2%;
  margin-top: 0.45%;
}

.taalindicatortext {
  float: right;
  font-size: 15px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 3.2%;
  margin-right: 2%;
}

.d-or-l-indicator{
  float:right;

  margin-right: 4%;
  margin-top: 0.32%;
}
